<div>
  <div class="well hoverwell thumbnail py-3 my-3">
  <table class="table table-bordered">
  <tr>
  <th>Delivery Id</th>
  <th>Owner Name</th>
  <th>Time</th>
  <th>Date</th>
  <th>Status1</th>
  </tr>
  
  <tr>    
  <td> {{deliveryDetails?.deliveryId}} </td>
  <td>{{deliveryDetails?.ownerName | titlecase}}</td>
  <td>{{deliveryDetails?.time1}}</td>
  <td>{{deliveryDetails?.date | date:'mediumDate'}}</td>
  <td>{{deliveryDetails?.status1}}</td>
  <td>
  <button [class]=buttonStyle (click)="onClick()" [routerLink]="['./name',deliveryDetails.ownerName]"> ViewByName </button>
  <button [class]=buttonStyle (click)="onClick()" [routerLink]="['./id',deliveryDetails.deliveryId]"> ViewById </button>
  
  </td>
  </tr>
  
 
  
  </table>
</div>
</div>