<html>
    
    <h1 style="text-align: center;"><u>Security By ID</u></h1>
    <body style="background-image: url('/assets/security/security1.jpeg');" >
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage?.error?.details | json}}</div>
        <div class="container pt-3"> 
            <hr/>
            <div  class= "row row-cols-2">
                 <div *ngIf="secur" class="well hoverwell thumbnail py-3 my-3"> 
                   <hr/>
                   <h3> <div >Message ID:{{secur?.msgId}}<br/>
                    Message: {{secur?.message}} <br/>
                     Alert: {{secur?.alert}} <br/>
                    </div></h3>
                     <button class="btn btn-primary" (click)="deleteSecurity(secur?.msgId)">delete</button><br/>
                     <button class="btn btn-primary" (click)="updateSecurity(secur?.msgId)">Update</button>
                    <!-- </div> --->
                   </div>  
             <!-- <child [childData]=domHelp></child>   -->
            </div>
            </div> 
            <!-- </div>
            </div> -->
    </body>
</html>