<html>
    
    <h1 style="text-align: center;"><u>Add Security</u></h1>
    <body style="background-image: url('/assets/security/security1.jpeg');" >
        <div class="container pt-3"> 
            <hr/>
            <div  class= "row row-cols-2">
             <div class="col-md-6">
              <form [formGroup]="secureForm" autocomplete="off" novalidate (ngSubmit)="addSecure(secureForm.value)">
                <div class="form-group" >
                  <label for="msgId">Message ID:</label>
                  <em *ngIf="secureForm.controls.msgId?.invalid && (secureForm.controls.msgId?.touched)"><h4>Required</h4></em>
                  <em *ngIf="secureForm.controls.msgId?.errors?.pattern">Special Characters are not allowed</em>
                    <em *ngIf="secureForm.controls.msgId?.errors?.minlength">Enter Full Message ID Number</em>     
                  <input  id="msgId" type="text" required class="form-control" formControlName="msgId" required minlength="4" required maxlength="10" [pattern]="'^[a-zA-Z0-9]+$'" (ngModel)=secur?.msgId placeholder="Message ID..." />
                </div>
                <div class="form-group" >
                <em *ngIf="secureForm.controls.message?.invalid && (secureForm.controls.message?.touched)"><h4>Required </h4></em>
                    <em *ngIf="secureForm.controls.message?.errors?.minlength">Enter Full Message</em>   
                <label for="message">Message</label>
                   
                  <input id="message" required type="text" class="form-control" formControlName="message" required minlength="4" (ngModel)=secur?.message placeholder="Message..." />
                </div>
                <div class="form-group" >
                  <label for="alert">Alert:</label>
                  <em *ngIf="secureForm.controls.alert?.invalid && (secureForm.controls.alert?.touched)"><h4>Required</h4></em>
                  <em *ngIf="secureForm.controls.alert?.errors?.minlength">Enter Full Alert Message</em> 
                  <input  id="alert"  required type="text" class="form-control" formControlName="alert" required minlength="4" (ngModel)=secur?.alert placeholder="Alert Message..." />
                </div>
  <button type="submit" (click)=" on_click()"  [disabled]=secureForm.invalid class="btn btn-primary">Save</button>
  <button type="button"   class="btn btn-primary" (click)="cancel()">Cancel</button>
  </form>
  </div>
  </div>
  </div>
  </body>
</html>