@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: rgb(223, 223, 198);
}

.hoverwell:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

.well {
  background-color: khaki;
}

.container {
  padding-top: 10px;
}

.form {
  display: inline-table;
  text-align: right;
}

.form.container {
  background-color: bisque;
}

a {
  color: white;
}
