<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar" style="background-color: #000">
        <div class="container">
          <ul>
            <li>
              <a class="nav-link" [routerLink]="['./flat']">FLAT</a>
            </li>
          </ul>

          <ul>
            <li>
              <a class="nav-link" [routerLink]="['./flatrent']">FLAT RENT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
