
  <nav class="navbar navbar-expand-sm  bg-info" >
  

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="container">
  <ul>
    <li>
      <a class="nav-link" [routerLink]="['./visitors']">All Visitor</a>
    </li>
  </ul>

  <ul>
    <li>
      <a class="nav-link" [routerLink]="['./visitors/new']">Add Visitor</a
      >
    </li>
  </ul>
</div>
</nav>


<router-outlet></router-outlet>



