/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.hoverwell:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}
.form {
  display: inline-table;
  text-align: right;
}

.form.container {
  background-color: bisque;
}

.container {
  padding-top: 10px;
}

