<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
        <ul class="sidenav admin-sidenav list-unstyled">
          <li><a [routerLink]="['./flats']">Flats</a></li>
          <li><a [routerLink]="['./new']">Create Flat</a></li>
          <li><a [routerLink]="['./delete']">Delete Flat</a></li>
          <li><a [routerLink]="['./update']">Update Flat</a></li>
          <li><a [routerLink]="['./name']">Flat By Name</a></li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</body>

<router-outlet></router-outlet>